<!DOCTYPE html>
<!-- <html lang="{{ str_replace('_', '-', app()->getLocale()) }}"> -->
<html lang="en">
<head>
   <%- include('cart_links'); %>
   <link href="/cart.css" rel="stylesheet">
   <script type="text/javascript">
      function preback(){ window.history.forward();}
      setTimeout("preback()",0);
      window.onunload = function() {null};
  </script>
</head>
<body>
   <%- include('header'); %>
  <div class="container-fluid">
   <div class="row pt-5 pl-5 pt-3">
      <div class="col-12 col-md-12">
         <h3><a href="/home"><i class="fa-sharp fa-solid fa-arrow-left text-dark"></i></a> My Cart</h3>
      </div>
   </div>
   <div class="row pl-5 pr-5 pb-5" id="addProducts">
      

   </div>
   <div class="row" style="background-color: #f3edf6;">
      <div class="col text-center p-3 d-flex justify-content-around" >
          <h4><b>Payment Details</b></h4>
          <h5>Items: <span id="item"></span></h5>
          <h5>Total amount: Rs. <span id="amount"></span></h5>
         <button id="rzp-button1" class="btn pay">Pay Now</button>
      </div>
  </div>
   <%- include('footer'); %>
  </div>
  <script src="/cart.js"></script>
  <script src="/payment.js"></script>
</body>
</html>
