<div class="row p-0">
        <footer class="col">
          <div class="row">
        <div class="col-md-12 col-lg-5 p-5 text-center">
          <span class="code p-0">Apna</span> <span class="quotient">Bazaar</span><br>
          <p>All rights reserved 2023.</p>
          <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-square-youtube"></i>
          <i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-twitter"></i>
        </div>
        <div class="col-md-12 col-lg-7 text-center" style="padding-top: 90px;">
          <a href="#">About</a>|<a href="#">Contact</a>|<a href="#">Privacy Policy</a>|<a href="#">Terms and Conditions</a>
        </div>
      </div>
        </footer>
      </div>