<!DOCTYPE html>
<title>Verify Account</title>
<head>
    <%- include('links'); %>
<style>
    h1{
                font-weight: 900;
                background: linear-gradient(to right,#951ac9 20%,#e040e9 80%);
                -webkit-text-fill-color: transparent;
			    -webkit-background-clip: text;
          }
    .container{
        position: absolute;
        top: 30%;
        left: 10%;
    }
</style>
</head>
<body>
    <div class="container text-center">
        <div class="row">  
            <div class="col-12"><h1>Verify Account</h1></div>
            <div class="col-12"><h1><%= msg %></h1></div>
            <div class="col-12"><h2>Link is send on your email.</h2></div>
            <div class="col-12"><h2>Click to verify your account.</h2></div>  
        </div>
    </div>
</body>
</html>