.section {
  width: 95%;
}

.msg {
  color: red;
}

.btn {
  background: #87b4f6;
  color: #fff;
}

.btn:hover {
  background-color: #287cfb;
  color: #fff;
}

.btn:focus {
  box-shadow: none !important;
}

.a {
  color: red;
  float: right;
}

.a:hover {
  color: red;
}

.h1 {
  font-weight: 700;
  background: linear-gradient(to left, #0365f7, #99c1fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card {
  border: none;
}