*{
    padding:0 0;
    margin:0 0;
}

/* body {
    font-family: 'Nunito', sans-serif;
} */

/* payment */
.pay{
    border:2px solid #c46cef;
    color:#c46cef;
    font-weight: bold;
}
.pay:hover{
    background-color: #c46cef;
    color: #fff;
}

/* navbar*/
.navbar{
    background-color: #f3edf6;
    color: #fff;
}

nav .code,nav .quotient{
    color: #951ac9;
}

nav .code{
    padding-left: 20px;
    font-family: "Changa";
    font-weight: 500;
    font-size: 27px;
}

nav .quotient{
    font-family: 'Changa One',cursive;
    font-size: 27px;
    margin-left:-6px;
}


.link1,.link2{
    color: #333333;
    font-size: 16.5px;
}

.link3,.link4{
    color: #707070;
}

.link3{
    font-size:25px;
    font-weight: lighter;
    color:#dedbdb
}

.fa-user,.dropdown-toggle,.dropdown-toggle:hover{
    color: #951ac9;
}


/* items */
.card{
    border: none;
 }
.card-text{
    border:1px solid rgb(197, 197, 197);
}
.card img{
    width: 100%;
    height: 400px;
 }
 .card .img{
    width: 100%;
 }
 .btnn{
    border:1px solid rgb(197, 197, 197);
    padding: 5%;
 }

 .btn{
    padding: 5px 6%;
 }

 /*footer*/
footer{
    background-color: #EFEFEF;
    
}
footer .code{
    padding-left: 20px;
    font-family: "Changa";
    font-weight: 500;
    font-size: 27px;
}

footer .quotient{
    font-family: 'Changa One',cursive;
    font-size: 27px;
    margin-left:-6px;
}

footer i{
    font-size: 25px;
    padding-right: 10px;
}

footer a{
    color: #727272;
    padding-right: 15px;
    padding-left: 15px;
}
footer a:hover{
    text-decoration: none;
    color: #000;
}

i{
    cursor: pointer;
}
